@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<style>

    .image-upload {
        position: relative;
        max-width: 360px;
        margin: 0 auto;
        overflow: hidden;
    }

        .image-upload input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 90%;
            opacity: 0;
        }

    .upload-field {
        display: block;
        padding: 12px;
        border-radius: 11px;
    }

        .upload-field .file-thumbnail {
            cursor: pointer;
            border: 1px dashed #BBD9EC;
            border-radius: 11px;
            text-align: center;
            padding: 20px;
        }

            .upload-field .file-thumbnail img {
                width: 50px;
            }

            .upload-field .file-thumbnail h3 {
                font-size: 12px;
                color: #000000;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .upload-field .file-thumbnail p {
                font-size: 12px;
                color: #9ABCD1;
                margin-bottom: 0;
            }
</style>

@model CreateOrUpdateSubDto
@{
    ViewData["Title"] = "Create";
    SelectList list = new SelectList(ViewBag.Category, "Id", "Name");
}


<div class="card container">
        <div class="card-body">
            <h4 class="card-title">@AdminDashBoard.Languages.Resource.AddSubCategory</h4>



            <form asp-action="Create" asp-controller="SubCategory" method="post" enctype="multipart/form-data" class="form-sample">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label asp-for="Name" class="form-label"> @AdminDashBoard.Languages.Resource.English_Name</label>
                                            <input asp-for="Name" class="form-control">
                                            <span asp-validation-for="Name" style="color:red"></span>
                    
                                         </div>
                                    </div>

                                    <div class="col-md-6">
                                         <div class="form-group ">
                                            <label asp-for="NameAr" class="form-label">@AdminDashBoard.Languages.Resource.Arabic_Name</label>
                                            <input asp-for="NameAr" class="form-control">
                                            <span asp-validation-for="NameAr" style="color:red"></span>

                                         </div>
                                    </div>
                                </div>

                                <div class="row">
                                      <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label asp-for="Description" class="form-label">@AdminDashBoard.Languages.Resource.Description</label>
                                                    <input asp-for="Description" class="form-control">
                                                    <span asp-validation-for="Description" style="color:red"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label asp-for="CategoryId" class="form-label">@AdminDashBoard.Languages.Resource.Categoryies</label>
                                                    <select asp-for="CategoryId" asp-items="list" class="form-select"></select>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                       <div class="col-md-6">
                                         <div class="form-group ">
                                            <div class="row">
                                                <div class="col-md-12">
                                            
                                                       <div class="image-upload ">
                                                            <label asp-for="Image" class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
                                                            <input asp-for="Image" id="Image" type="file" onchange="fileValue(this)">

                                                            <label asp-for="Image" for="Image" class="upload-field">
                                                                <div class="file-thumbnail">
                                                                    <img id="image-preview" src="https://www.btklsby.go.id/images/placeholder/basic.png" alt="">
                                                                    <h3 id="filename">
                                                                        Drag and Drop
                                                                    </h3>
                                                                    <p>Supports JPG, PNG, SVG</p>
                                                                </div>
                                                            </label>
                                                            <span asp-validation-for="Image" style="color:red"></span>
                                                       </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                               
                    
                    






                    



                   






        <br />
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-red alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <svg class="bi flex-shrink-0 " width="24" height="15px" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
                <div>
                    @AdminDashBoard.Languages.Resource.FailedTODelete
                </div>
            </div>
        }
        <div>
           
                        <div class="col-md-12">
                            <div class="form-group ">
                                <div class="row">
            <p class="text-center">Specifications</p>
                                    <hr />
            @foreach (var spec in ViewBag.spec)
            {
                <div class="col-md-4">
                    <input type="checkbox" name="SelectedSpecification" value="@spec.Name" id="spec_@spec.Name">
                    <label for="spec_@spec.Name">@spec.Name</label>
             </div>
            }
                                </div>
        </div>
                        </div>
                    </div>

                <button type="submit" class="btn btn-success text-white w-100 col-md-12">@AdminDashBoard.Languages.Resource.Create</button>
        </div>
    </form>
        </div>
    </div>












    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-red alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <svg class="bi flex-shrink-0 " width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
            <div>
                Failed to Add this SubCategory
                @* @AdminDashBoard.Languages.Resource.FailedTODelete *@
            </div>
        </div>
    }
<script>

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>