@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}




@model CreateOrUpdateSubDto
@{
    ViewData["Title"] = "Update";
    SelectList list = new SelectList(ViewBag.Category, "Id", "Name");
}

<h1>@AdminDashBoard.Languages.Resource.UpdateSubCategory</h1>


<html>
<head>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>




    <form method="post" asp-action="Update" asp-controller="SubCategory" enctype="multipart/form-data">



        <div class="mb-3">
            <label asp-for="Name" class="form-label">@AdminDashBoard.Languages.Resource.Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>

        </div>
        <div class="mb-3" hidden>

            <input asp-for="Id" class="form-control">

        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">@AdminDashBoard.Languages.Resource.Description</label>
            <input asp-for="Description" class="form-control">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Image" class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image" style="color:red"></span>
        </div>


        <div>
            <label asp-for="CategoryId" class="form-label"> @AdminDashBoard.Languages.Resource.Categoryies</label>
            <select asp-for="CategoryId" asp-items="list" class="form-select"></select>




        </div>


        <br />



        <button type="submit" class="btn btn-primary">@AdminDashBoard.Languages.Resource.Update</button>
    </form>






</body>
</html>