
@model List<GetAllOrderItemsDto>
@{
    Layout = "_Layout";
}

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Bordered table</h4>
                  <p class="card-description">
                    Add class <code>.table-bordered</code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>
                            Image
                          </th>
                          <th>
                            Product Name
                          </th>
                          <th>
                            Price
                          </th>
                          <th>
                            Quantity
                          </th>
                          <th>
                                TotalPrice
                          </th>
                            <th>
                                Discount
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                     
                        <tr>
                          <td>
                            @item.ProductImage
                          </td>
                          <td>
                            @item.ProductName
                          </td>
                          <td>
                            @item.ProductQuantity
                          </td>
                          <td>
                               $ @item.TotalPrice
                          </td>
                          <td>
                            $ @item.Discount
                          </td>
                         
                        </tr>
                       
                            }

                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>