@model CreateOrUpdateOrderDto
@{
    Layout = "_Layout";
   // SelectList list = new SelectList(ViewBag.OrderStatusOptions,"Status","Status");
}
<style>
   
    span{
        font-weight:bold;
        
    }
    li{
        padding-bottom:5px;
        letter-spacing:2
    }
    
    .card-description a {
        text-decoration:none;
        color:#fff;
        background-color:darksalmon;
        border-radius:5px;
        padding: 10px

    }
  
   
</style>

<div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@Localizer["OrderInfo"]</h4>
            <br />
        <p class="card-description">
                <a asp-action="Details" asp-controller="Shippment" asp-route-Id="@Model.Id ">@Localizer["ShippingInfo"]</a>
                <a asp-action="Details" asp-controller="Order" asp-route-Id="@Model.Id  ">@Localizer["Products"]</a>
                <a asp-action="Edit" asp-controller="Order" asp-route-Id="@Model.Id  ">@Localizer["ChangeOrder"]</a>
                <a class="back" style="background-color:#fff;color:darksalmon;padding:0;float:@Localizer["floatdir"]" asp-action="Index" asp-controller="Order"> @Localizer["Back"] <i class="mdi mdi-arrow-right"></i></a>

            </p>
            <ul class="list-star">
                <form method="post">
                <li> <span>@Localizer["Order"]   <i class="mdi mdi-help-circle"></i> </span>  @Model.Id</li>
                <li> <span>@Localizer["Customer"]    <i class="mdi mdi-help-circle"></i></span>   @ViewBag.User</li>
                <li> <span>@Localizer["OrderStatus"] <i class="mdi mdi-help-circle"></i></span>   <select asp-for="Status" asp-items="ViewBag.OrderStatusOptions" class="form-control"></select></li>
                <li> <span>@Localizer["TotalPrice"]   <i class="mdi mdi-help-circle"></i></span>  $ @Model.TotalPrice </li>
                <li> <span>@Localizer["CreatedDate"]   <i class="mdi mdi-help-circle"></i></span>   @Model.CreatedDate</li>
                            <br />
                    <div class="col-12">
                    <button type="submit" class="btn btn-secondary">@Localizer["Update"]</button>
               </div>
                </form>
            </ul>
        </div>
        </div>
    
</div>