@model List<GetAllOrdersDTO>
@{
    Layout = "_Layout";
}
<style>
    a{
        text-decoration:none;
        color:teal
    }
</style>

<div class="main-panel ">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">@Localizer["Orders"]</h1>
                        <p class="card-description">
                            @Localizer["orderview"]  <code>@Localizer["Info"]  </code>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Localizer["Id"]</th>
                                        <th>@Localizer["Customer"]</th>
                                        <th>@Localizer["Status"]</th>
                                        <th>@Localizer["Payment"]</th>
                                        <th>@Localizer["CreatedDate"]</th>
                                        <th>@Localizer["TotalPrice"]</th>
                                        <th>@Localizer["Discount"]</th>
                                        <th> <i class="mdi mdi-eye"></i>@Localizer["View"] </th>
                                         

                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model!=null){
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Customer</td>
                                                <td><label class="badge badge-danger">@item.Status</label></td>
                                                <td><label class="badge badge-danger">@item.GetPaymentStatusWord()</label></td>
                                                <td>@item.OrderDate</td>
                                                <td><label class="badge badge-danger">@item.TotalOrderPrice</label></td>
                                                <td class="text-danger"> @item.Discount % <i class="ti-arrow-down"></i></td>
                                                <td><a asp-action="Edit" asp-controller="Order" asp-route-Id="@item.Id"> <i class="mdi mdi-eye"></i>  View </a> </td>

                                            </tr>
                                        }
                                     }
                                    
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.SuccessMessage
        </div>
    </div>
}