@model List<GetAllOrdersDTO>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Orders";

}
<style>
    a{
        text-decoration:none;
        color:teal ;
       
    }

    .view {
        background-color: teal;
    }
    
</style>


 
                
                <div class="card">
                    <div class="card-body">
        <a href="#" id="exportButton" class="btn btn-success text-white me-0"><i class="icon-download"></i> @AdminDashBoard.Languages.Resource.Export</a>

        @* <a id="exportButton" class="btn btn-primary" href="#">Export to Excel</a> *@
                        <h1 class="card-title">@Localizer["Orders"]</h1>
                        <p class="card-description">
                            @Localizer["orderview"]  <span style="color:red">@Localizer["Info"]  </span>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover  table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Localizer["Id"]</th>
                                        <th>@Localizer["Customer"]</th>
                                        <th>@Localizer["Status"]</th>
                                        <th>@Localizer["Payment"]</th>
                                        <th>@Localizer["CreatedDate"]</th>
                                        <th>@Localizer["TotalPrice"]</th>
                                        <th>@Localizer["Discount"]</th>
                                        <th> <i class="mdi mdi-eye"></i>@Localizer["View"] </th>
                                         

                                    </tr>
                                </thead>
                                <tbody>
                                    @if(Model!=null){
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td class="p-1">@item.Id</td>
                                                <td class ="p-1">@item.Customer</td>
                                                <td class="p-1"><label class="badge badge-danger">@item.Status</label></td>
                                                <td class="p-1"><label class="badge badge-warning">@item.GetPaymentStatusWord()</label></td>
                                                <td class="p-1">@item.OrderDate</td>
                                                <td class="p-1"><label class="badge badge-danger">@item.TotalOrderPrice</label></td>
                                                <td class="text-danger p-1"> @item.Discount % <i class="ti-arrow-down"></i></td>
                                                <td class="p-1  ">
                                    <a asp-action="Edit" asp-controller="Order" asp-route-Id="@item.Id" class="btn btn-success text-white    btn-sm ">
                                        <i class="mdi mdi-eye p-1"></i>  View 
                                                        </a>
                                                 </td>

                                            </tr>
                                        }
                                     }
                                    
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
           
   
@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage1"]
            @* @AdminDashBoard.Languages.Resource.SuccessMessage *@
        </div>
    </div>
}

<script>

    // expert to excel
    document.getElementById("exportButton").addEventListener("click", function () {
        // Send AJAX request to the server to export the data to Excel
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Order/ExportToExcel", true);
        xhr.responseType = "blob";

        xhr.onload = function () {
            if (xhr.status === 200) {
                // Create a temporary anchor element to download the file
                var a = document.createElement("a");
                var url = window.URL.createObjectURL(xhr.response);
                a.href = url;
                a.download = "Orders.xlsx";
                a.click();

                // Clean up the temporary URL
                window.URL.revokeObjectURL(url);
            }
        };

        xhr.send();
    });

</script>
<script>

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>