@using Jumia.Dtos.User

@model List<RoleUser>
<link href="~/css/responcevtable.css" rel="stylesheet" />
@{
    Layout = "_Layout";
    ViewData["Title"] = "Users";

}
@foreach (var role in ViewBag.Roles)
{

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Users Role</h4>
            <p class="card-description">
                    role is <code>.@role.Name</code>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                                <th>User Image</th>
                                <th>@AdminDashBoard.Languages.Resource.UserId</th>
                                <th>@AdminDashBoard.Languages.Resource.Name</th>
                                <th>@AdminDashBoard.Languages.Resource.Role</th>
                                <th>@AdminDashBoard.Languages.Resource.Email</th>
                                <th>@AdminDashBoard.Languages.Resource.Phone Number</th>
                                <th>@AdminDashBoard.Languages.Resource.Delete</th>
                              @*   <th>@AdminDashBoard.Languages.Resource.Update</th> *@
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model.Where(u => u.RoleName == role.Name))
                            {
                        <tr>
                            <td class="py-1">
                                        <img src="~/images/faces/profile/users.png" alt="image" />
                                    </td>
                                   
                                <td data-th=" UserId">
                                    @item.Id
                                </td>
                                <td data-th=" User Name">
                                    @item.UserName
                                </td>
                                <td data-th=" Role">
                                    @item.RoleName
                                </td>
                                <td data-th=" Email">
                                    @item.Email
                                </td>

                                <td data-th=" phone number">
                                    @item.PhoneNumber
                                </td>
                                    <td class="p-1">
                                        <a asp-action="Delete" asp-controller="Admin" asp-route-id="@item.Id" onclick="confirmDelete()" style="pointer-events: auto;" class="btn btn-danger  btn-sm m-0">@AdminDashBoard.Languages.Resource.Delete</a>
                                    </td>
                                   @*  <td class="p-1">
                                        <a asp-action="Update" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-info  btn-sm m-0 ">@AdminDashBoard.Languages.Resource.Update</a>
                                    </td> *@
                                </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage1"]
        </div>
    </div>
}
@if (TempData["SuccessMessage2"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage2"]
        </div>
    </div>
}
@if (TempData["SuccessMessage3"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage3"]
        </div>
    </div>
}
<script>
    function confirmDelete() {
        var acc = confirm("Are you sure you want delete this user?");
        if (acc == false) {
            event.preventDefault();
        }
    }


</script>



@* 
@foreach (var role in ViewBag.Roles)
{
    <div class="contTable m-5">
        <h1>@role.Name</h1>
        <table class="rwd-table">
            <tbody>
                <tr>
                    <th>@AdminDashBoard.Languages.Resource.UserId</th>
                    <th>@AdminDashBoard.Languages.Resource.Name</th>
                    <th>@AdminDashBoard.Languages.Resource.Role</th>
                    <th>@AdminDashBoard.Languages.Resource.Email</th>
             
                    <th>@AdminDashBoard.Languages.Resource.Phone Number</th>
                   
                </tr>
                @foreach (var item in Model.Where(u => u.RoleName == role.Name))
                {

                <tr>
                <td data-th=" UserId">
                            @item.Id
                    </td>
                <td data-th=" User Name">
                            @item.UserName
                    </td>
                <td data-th=" Role">
                            @item.RoleName
                    </td>
                <td data-th=" Email">
                            @item.Email
                    </td>
                       
                <td data-th=" phone number">
                            @item.PhoneNumber
                    </td>
                    

                </tr>
                 
                 }
            </tbody>
        </table>

    </div>
    
    }


 *@
