
@model ChangePassword

@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";

}

<link rel="stylesheet" href="~/css/AddUser.css">


<html dir="@AdminDashBoard.Languages.Resource.dir">

<div class="main-panel">
    <div class="content-wrapper ">
        <div class="container">
            <div class=" grid-margin stretch-card">
                <div class="card ">
                    <div class="card-body">
                        <h4 class="card-title">@AdminDashBoard.Languages.Resource.ChangePassword</h4>
        
                        <form asp-action="ChangePassword" class="forms-sample" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Currentpassword">@AdminDashBoard.Languages.Resource.Currentpassword:</label>
                                <input asp-for="Currentpassword" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="Currentpassword" style="color: red"></span></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword">@AdminDashBoard.Languages.Resource.Newpassword:</label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="NewPassword" style="color: red"></span></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmnewPassword">@AdminDashBoard.Languages.Resource.ConfirmnewPassword:</label>
                                <input asp-for="ConfirmnewPassword" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="ConfirmnewPassword" style="color: red"></span></span>

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Change Password" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                                
                                <</html>