@model GetAllUsers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Update";

}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<link rel="stylesheet" href="~/css/AddUser.css">


<html dir="@AdminDashBoard.Languages.Resource.dir">

<div class="main-panel">
    <div class="content-wrapper ">
        <div class="">
            <div class=" grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@AdminDashBoard.Languages.Resource.UpdateUser</h4>
                        <form asp-action="Update" asp-controller="Admin" class="forms-sample" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UserName">@AdminDashBoard.Languages.Resource.UserName:</label>
                                <input asp-for="UserName" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="UserName" style="color: red"></span></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">@AdminDashBoard.Languages.Resource.Email:</label>
                                <input asp-for="Email" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="Email" style="color: red"></span></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">@AdminDashBoard.Languages.Resource.PhoneNumber:</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="PhoneNumber" style="color: red"></span></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Password">@AdminDashBoard.Languages.Resource.Password:</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="Password" style="color: red"></span></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Confirmpass">@AdminDashBoard.Languages.Resource.ConfirmPassword:</label>
                                <input asp-for="Confirmpass" type="password" class="form-control" />
                                <span class="text-danger"><span asp-validation-for="Confirmpass" style="color: red"></span></span>
                            </div>
                            <div class="container">
                                <h4 class="card-title">@AdminDashBoard.Languages.Resource.Roles</h4>
                                <ul class="form-group ks-cboxtags">


                                    @foreach (var role in ViewBag.Roles)
                                    {
                                        <li>
                                            <input type="checkbox" name="SelectedRoles" value="@role.Name" id="role_@role.Name">
                                            <label for="role_@role.Name">@role.Name</label>
                                        </li>

                                    }
                                </ul>
                                <br />
                                <button type="submit" class="btn btn-primary">@AdminDashBoard.Languages.Resource.Update</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

