@using Jumia.Dtos.User

@model List<RoleUser>
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashBoard.styles.css" asp-append-version="true" />
    </head>
<body>
 
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>UserId</label>
                    </th>
                    <th>
                        <label>User Name</label>

                    </th>
                    <th>
                        <label>Role</label>

                    </th>

                    <th>
                        <label>Email</label>

                    </th>
                    <th>
                        <label>phone number</label>

                    </th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Id</td>
                        <td>@item.UserName</td>
                        <td>@item.RoleName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>

                    </tr>
                }
            </tbody>
        </table>
    }
   

</body>
</html>
