@using Jumia.DTOS.ViewResultDtos
@model ResultDataForPagination<Jumia.Dtos.Product.GetAllProducts>

@{
    Layout = "_Layout";
    ViewData["Title"] = "GetPagination";
}

<h1>GetPagination</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">@AdminDashBoard.Languages.Resource.Name</th>
            <th scope="col">@AdminDashBoard.Languages.Resource.Description</th>
            
            <th scope="col">Stock Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Sub Category</th>
            <th scope="col">Brand</th>
            <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Lon)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
                <td>
                
                    @Html.DisplayFor(modelItem => item.Image)
                </td> *@
                <td >@item.SubCategoryName</td>
                <td>@item.BrandName</td>
                <td>
                    @if(item.Image!=null){
                @foreach (var img in item.Image)
                {
                    <td><img src="data:image;base64,@Convert.ToBase64String(img)" width="100px" , height="100px" alt="SubCategory Image" /></td>

                        }   }
                    </td>
               <td>
                <a asp-action="Update" asp-route-id ="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id ="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
