@using Jumia.DTOS.ViewResultDtos
@model ResultDataForPagination<Jumia.Dtos.Product.GetAllProducts>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "GetPagination";
}
<style>
    .fifty-chars {
        width:20ch;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }

    .btn-warning {
        background-color: white
    }
</style>


<a href="#" id="exportButton" class="btn btn-success text-white me-0"><i class="icon-download"></i> @AdminDashBoard.Languages.Resource.Export</a>

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
           <div class="row">
               <div class="col-8">
                    <h4 class="card-title">@AdminDashBoard.Languages.Resource.AllProducts</h4>
                    <p class="card-description">
                        Table: <span style="color:red">@AdminDashBoard.Languages.Resource.AllProducts</span>
                    </p>
                   
               </div>
                <div class="col-4">
                    <div class="centered-container">
                        <button  type="button" onclick="location.href='@Url.Action("Create", "Product")'" class="icon-btn add-btn">
                            <div class="add-icon"></div>
                            <div class="btn-txt">@AdminDashBoard.Languages.Resource.AddProduct</div>
                        </button>
                    </div>
                   @*  <a asp-action="Create" asp-controller="Product" class="btn btn-success p-3 ><i class="fa fa-plus" aria-hidden="true"></i>  @AdminDashBoard.Languages.Resource.AddProduct</a> *@
                </div>

           </div>
           
             
               
                <div class="table-responsive pt-3">
                <table  class="table table-hover  table-bordered">
                        <thead>
                            <tr>

                            <th scope="col">@AdminDashBoard.Languages.Resource.Name</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Description</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.StockQuantity</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.RealPrice</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Discount</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.SubCategoryName</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Brand</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>

                            </tr>
                        </thead>
                        <tbody >
                            @foreach (var item in Model.Entities)
                {
                            <tr>
                                <td class="p-1"><p class="fifty-chars">@item.Name</p></td>
                                <td class="p-1"><p class="fifty-chars">@item.ShortDescription</p> </td>
                               @*  <td class="p-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td> *@
                                @{
                                    string res = item != null && item.Images != null && item.Images.Count > 0 ? Convert.ToBase64String(item.Images[item.Images.Count() - 1]) : "";
                                }
                                <td class="p-1"><img src="data:image;base64,@res" width="100px" height="100px" alt="Product Image" /></td>
                                <td class="p-1">@item.StockQuantity</td>
                                <td class="p-1">@item.RealPrice</td>
                                <td class="p-1">@item.Discount</td>
                                <td class="p-1">@item.SubCategoryName</td>
                                <td class="p-1"><p class="fifty-chars">@item.BrandName</p></td>
                                <td class="p-1">
                                    <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info  btn-sm m-0 ">
                                        <i class="fa fa-edit"></i> 
                                        @AdminDashBoard.Languages.Resource.Update
                                    </a>
                                </td>
                                <td class="p-1">
                                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" style="pointer-events: auto;" onclick="confirmDelete()" class="btn btn-danger disabled  btn-sm m-0">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        @AdminDashBoard.Languages.Resource.Delete
                                    </a>
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>
                
                </div>
            </div>
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("GetPagination", new { pageNumber = Model.CurrentPage - 1, pageSize = Model.PageSize })" class="btn btn-warning">Previous</a>
            }

            @if (Model.TotalPages > 5 && Model.CurrentPage > 3)
            {
                <a href="@Url.Action("GetPagination", new { pageNumber = 1, pageSize = Model.PageSize })" class="btn btn-default">1</a>
                <span>...</span>
            }

            @for (int i = Math.Max(1, (int)Model.CurrentPage - 2); i <= Math.Min((int)Model.TotalPages, (int)Model.CurrentPage + 2); i++)
            {
                <a href="@Url.Action("GetPagination", new { pageNumber = i, pageSize = Model.PageSize })" class="btn @(Model.CurrentPage == i ? "btn-warning active" : "btn-default")">@i</a>
            }

            @if (Model.TotalPages > 5 && Model.CurrentPage < Model.TotalPages - 2)
            {
                <span>...</span>
                <a href="@Url.Action("GetPagination", new { pageNumber = Model.TotalPages, pageSize = Model.PageSize })" class="btn btn-default">@Model.TotalPages</a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("GetPagination", new { pageNumber = Model.CurrentPage + 1, pageSize = Model.PageSize })" class="btn btn-warning">Next</a>
            }
        </div>
        
        </div>
    

    </div>



       
  

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage1"]
        </div>
    </div>
}
@if (TempData["SuccessMessage2"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage2"]
        </div>
    </div>
}
@if (TempData["SuccessMessage3"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage3"]
        </div>
    </div>
}




  <script>
        function confirmDelete(){
            var acc = confirm("Some Customers may Ordered This Product,Are you sure you want to delete this product ?");
            if(acc == false){
                event.preventDefault();  
            }
        }

    document.getElementById("exportButton").addEventListener("click", function () {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Product/ExportToExcel", true);
        xhr.responseType = "blob";

        xhr.onload = function () {
            if (xhr.status === 200) {
  
                var a = document.createElement("a");
                var url = window.URL.createObjectURL(xhr.response);
                a.href = url;
                a.download = "Products.xlsx";
                a.click();
                window.URL.revokeObjectURL(url);
            }
        };

        xhr.send();
    });
    </script>