@using Jumia.DTOS.ViewResultDtos
@model ResultDataForPagination<Jumia.Dtos.Product.GetAllProducts>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "GetPagination";
}
<style>
    .fifty-chars {
        width:20ch;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
</style>



    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">@AdminDashBoard.Languages.Resource.AllProducts</h4>
                <p class="card-description">
                Table: <span style="color:red">@AdminDashBoard.Languages.Resource.AllProducts</span>
                </p>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                            <th scope="col">@AdminDashBoard.Languages.Resource.Name</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Description</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.StockQuantity</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.RealPrice</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Discount</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.SubCategoryName</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Brand</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>

                            </tr>
                        </thead>
                        <tbody >
                            @foreach (var item in Model.Entities)
                {
                            <tr>
                                <td class="p-1"><p class="fifty-chars">@item.Name</p></td>
                                <td class="p-1"><p class="fifty-chars">@item.ShortDescription</p> </td>
                               @*  <td class="p-1">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td> *@
                                @{
                                    string res = item != null && item.Images != null && item.Images.Count > 0 ? Convert.ToBase64String(item.Images[item.Images.Count() - 1]) : "";
                                }
                                <td><img src="data:image;base64,@res" width="100px" height="100px" alt="Product Image" /></td>
                                <td class="p-1">@item.StockQuantity</td>
                                <td class="p-1">@item.RealPrice</td>
                                <td class="p-1">@item.Discount</td>
                                <td class="p-1">@item.SubCategoryName</td>
                                <td class="p-1"><p class="fifty-chars">@item.BrandName</p></td>
                                <td class="p-1">
                                    <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info  btn-sm m-0 ">@AdminDashBoard.Languages.Resource.Update</a>
                                </td>
                                <td class="p-1">
                                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" style="pointer-events: auto;" onclick="confirmDelete()" class="btn btn-danger disabled  btn-sm m-0">@AdminDashBoard.Languages.Resource.Delete</a>
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>
                
                </div>
            </div>
        <a asp-action="Create" asp-controller="Product" class="btn btn-success p-3">@AdminDashBoard.Languages.Resource.AddProduct</a>
        </div>
    </div>



       
  

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me-2" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.SuccessMessage
        </div>
    </div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.FailedTODelete
        </div>
    </div>
} 




  <script>
        function confirmDelete(){
            var acc = confirm("Some Customers may Ordered This Product,Are you sure you want to delete this product ?");
            if(acc == false){
                event.preventDefault();  
            }
        }
    </script>