@model Jumia.Dtos.Product.CreateOrUpdateProductDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Update";
    SelectList list = new SelectList(ViewBag.SubCategory, "Id", "Name");
    SelectList list2 = new SelectList(ViewBag.brand, "BrandID", "Name");
}

<style>

    .image-upload {
        position: relative;
        max-width: 360px;
        margin: 0 auto;
        overflow: hidden;
    }

        .image-upload input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 90%;
            opacity: 0;
        }

    .upload-field {
        display: block;
        padding: 12px;
        border-radius: 11px;
    }

        .upload-field .file-thumbnail {
            cursor: pointer;
            border: 1px dashed #BBD9EC;
            border-radius: 11px;
            text-align: center;
            padding: 20px;
        }

            .upload-field .file-thumbnail img {
                width: 50px;
            }

            .upload-field .file-thumbnail h3 {
                font-size: 12px;
                color: #000000;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .upload-field .file-thumbnail p {
                font-size: 12px;
                color: #9ABCD1;
                margin-bottom: 0;
            }

    a {
        text-decoration: none;
        color: teal;
    }
</style>



    <div class="card container">
        <div class="card-body">
            <h4 class="card-title">Update Products</h4>


            <form asp-action="Update" method="post" asp-controller="Product" enctype="multipart/form-data"class="form-sample">



                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <input asp-for="Id" type="number" class="form-control" hidden />
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="Name" class=" col-form-label">@AdminDashBoard.Languages.Resource.English_Name</label>

                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="NameAr" class=" col-form-label">@AdminDashBoard.Languages.Resource.Arabic_Name</label>
                            <input asp-for="NameAr" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label asp-for="StockQuantity" class=" col-form-label"></label>

                            <input asp-for="StockQuantity" type="number" class="form-control" />
                            <span asp-validation-for="StockQuantity" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group ">
                            <label asp-for="RealPrice" class=" col-form-label"></label>

                            <input asp-for="RealPrice" type="number" class="form-control" />
                            <span asp-validation-for="RealPrice" class="text-danger"></span>

                        </div>
                    </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <label asp-for="Discount" class=" col-form-label"></label>

                        <input asp-for="Discount" type="number" class="form-control" />
                        <span asp-validation-for="Discount" style="color:red"></span>

                    </div>
                </div>
                </div>


                
                    <div class="col-md-12">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="image-upload ">
                                        <label asp-for="Images" class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
                                        <input asp-for="Images" id="Images" type="file" onchange="fileValue(this)">

                                        <label asp-for="Images" for="Images" class="upload-field">
                                            <div class="file-thumbnail">
                                                <img id="image-preview" src="https://www.btklsby.go.id/images/placeholder/basic.png" alt="">
                                                <h3 id="filename">
                                                    Drag and Drop
                                                </h3>
                                                <p>Supports JPG, PNG, SVG</p>
                                            </div>
                                        </label>
                                        <span asp-validation-for="Images" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                


                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label asp-for="ShortDescription" class=" col-form-label"></label>

                            <input asp-for="ShortDescription" class="form-control" />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="SubCategoryID" class=" col-form-label">@AdminDashBoard.Languages.Resource.SubCategory</label>

                            <select asp-for="SubCategoryID" asp-items="list" class="form-select" id="subCategorySelect"></select>
                            <span asp-validation-for="SubCategoryID" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="BrandID" class=" col-form-label">Brand</label>

                            <select asp-for="BrandID" asp-items="list2" class="form-select"></select>
                            <span asp-validation-for="BrandID" class="text-danger"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                   @*  <div class="col-md-6">
                        <div class="form-group ">
                      

                            <label asp-for="Images" class="col-form-label">@AdminDashBoard.Languages.Resource.Image</label>
                            <input asp-for="Images" type="file" class="form-control">
                            <span asp-validation-for="Images" style="color:red"></span>

                        </div>
                    </div> *@
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label class=" col-form-label">Specifications</label>
                            <br />
                                @if (ViewBag.prdSpecs != null)
                        {
                            <div class="row">
                                    @foreach (var spec in ViewBag.prdSpecs)
                                    {
                                        <div class="col-md-6">
                                        <input type="checkbox" name="SpecificationName" checked disabled value="@spec.SpecificationName" id="spec_@spec.SpecificationName">
                                        <label for="spec_@spec.SpecificationName">@spec.SpecificationName</label>
                                        <label for="spec_@spec.Value">@spec.Value</label>
</div>

                                    }
                                    </div>
                                }
                          

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label asp-for="LongDescription"></label>
                            <textarea asp-for="LongDescription" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="LongDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success text-white w-100">@AdminDashBoard.Languages.Resource.Update</button>
                </div>
                <div class="col-md-6">
                    <a asp-action="GetPagination" class="btn btn-danger text-white w-100">@AdminDashBoard.Languages.Resource.Cancel</a>
                </div>
            </div>

                

            </form>



        </div>
    </div>
















@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            failed to Update this Product data
            @* @AdminDashBoard.Languages.Resource.FailedTODelete *@
        </div>
    </div>
}

<script>

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
</script>