@model Jumia.Dtos.Product.CreateOrUpdateProductDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Update";
    SelectList list = new SelectList(ViewBag.SubCategory, "Id", "Name");
    SelectList list2 = new SelectList(ViewBag.brand, "BrandID", "Name");
}




<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Products</h4>


            <form asp-action="Update" method="post" asp-controller="Product" enctype="multipart/form-data"class="form-sample">



                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="Name" class=" col-form-label">@AdminDashBoard.Languages.Resource.English_Name</label>

                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" style="color:red"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="NameAr" class=" col-form-label"></label>
                            <input asp-for="NameAr" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="StockQuantity" class=" col-form-label"></label>

                            <input asp-for="StockQuantity" type="number" class="form-control" />
                            <span asp-validation-for="StockQuantity" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="RealPrice" class=" col-form-label"></label>

                            <input asp-for="RealPrice" type="number" class="form-control" />
                            <span asp-validation-for="RealPrice" class="text-danger"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="Discount" class=" col-form-label"></label>

                            <input asp-for="Discount" type="number" class="form-control" />
                            <span asp-validation-for="Discount" style="color:red"></span>

                        </div>
                    </div>
                   @*  <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="RealPrice" class=" col-form-label"></label>

                            <input asp-for="RealPrice" type="number" class="form-control" />
                            <span asp-validation-for="RealPrice" class="text-danger"></span>

                        </div>
                    </div> *@
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="StockQuantity" class=" col-form-label"></label>

                            <input asp-for="StockQuantity" type="number" class="form-control" />
                            <span asp-validation-for="StockQuantity" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="ShortDescription" class=" col-form-label"></label>

                            <input asp-for="ShortDescription" class="form-control" />
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="SubCategoryID" class=" col-form-label"></label>

                            <select asp-for="SubCategoryID" asp-items="list" class="form-select" id="subCategorySelect"></select>
                            <span asp-validation-for="SubCategoryID" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label asp-for="BrandID" class=" col-form-label"></label>

                            <select asp-for="BrandID" asp-items="list2" class="form-select"></select>
                            <span asp-validation-for="BrandID" class="text-danger"></span>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                      

                            <label asp-for="Images" class="col-form-label">@AdminDashBoard.Languages.Resource.Image</label>
                            <input asp-for="Images" type="file" class="form-control">
                            <span asp-validation-for="Images" style="color:red"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label class=" col-form-label">Specifications</label>
                            <br />
                                @if (ViewBag.prdSpecs != null)
                                {
                                    @foreach (var spec in ViewBag.prdSpecs)
                                    {
                                        
                                        <input type="checkbox" name="SpecificationName" checked disabled value="@spec.SpecificationName" id="spec_@spec.SpecificationName">
                                        <label for="spec_@spec.SpecificationName">@spec.SpecificationName</label>
                                        <label for="spec_@spec.Value">@spec.Value</label>
                                        <br />

                                    }
                                }
                          

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label asp-for="LongDescription"></label>
                            <textarea asp-for="LongDescription" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="LongDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            <input type="submit" value="Update" class="btn btn-primary" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <a asp-action="GetPagination" class="btn btn-warning">Back to List</a>

                        </div>
                    </div>
                </div>

            </form>



        </div>
    </div>
</div>















@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            failed to Update this Product data
            @* @AdminDashBoard.Languages.Resource.FailedTODelete *@
        </div>
    </div>
}