@using Jumia.Dtos.AccountDtos
@{
    ViewData["Title"] = "Login";

    // ViewBag.icon = "About.png";
}
@model LoginDtos
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html dir="@AdminDashBoard.Languages.Resource.dir">

<head>
    <!-- Required meta tags -->
    <meta char="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashBoard.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo.svg" />
    <link href="~/css/Log_Reg.css" rel="stylesheet" />
</head>
<body>
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
            @ViewData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    }
<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">


        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1>@AdminDashBoard.Languages.Resource.Login</h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">@AdminDashBoard.Languages.Resource.Signintoyouraccount</span>


                        <form id="stripe-login" method="post">


                            <div class="field padding-bottom--24">
                                <label for="email">@AdminDashBoard.Languages.Resource.UserName</label>
                                <input type="text" placeholder="&#xf2b9;  Enter User Name" class="fa form-control _ge_de_ol" style="font-family: 'FontAwesome';" asp-for="Username" />
                                <span class="text-danger"><span asp-validation-for="Username" style="color: red"></span></span>
                            </div>


                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">@AdminDashBoard.Languages.Resource.Password</label>
                                    <div class="reset-pass">
                                        <a href="#">@AdminDashBoard.Languages.Resource.Forgetyourpassword?</a>
                                    </div>
                                </div>
                                <input type="password" placeholder="&#xf070;  Enter Password" class="fa font-family: 'FontAwesome' form-control _ge_de_ol" asp-for="Password" />
                                <span class="text-danger"><span asp-validation-for="Password" style="color: red"></span></span>
                            </div>


                            <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                                <label for="checkbox">
                                    <input type="checkbox" name="checkbox">@AdminDashBoard.Languages.Resource.Staysignedinforaweek
                                </label>
                            </div>


                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="@AdminDashBoard.Languages.Resource.Continue">
                            </div>


                           @*  <div class="field">
                                <a class="ssolink" href="#">@AdminDashBoard.Languages.Resource.DonthaveanaccountSignup</a>
                            </div>
 *@

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <script defer>
            document.addEventListener('DOMContentLoaded', function () {
                var closeButton = document.querySelector('#errorAlert .close');

                if (closeButton) {
                    closeButton.addEventListener('click', function () {
                        var errorAlert = this.closest('.alert');
                        if (errorAlert) {
                            errorAlert.style.display = 'none';
                        }
                    });
                }
            });
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>

