@using Jumia.Dtos.AccountDtos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AccountLayout";
}
@model RegisterDtos



<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">


        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1>@AdminDashBoard.Languages.Resource.Register</h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">@AdminDashBoard.Languages.Resource.Registeryouraccount</span>


                        <form id="stripe-login" method="post">


                            <div class="field padding-bottom--24">
                                <label for="email">@AdminDashBoard.Languages.Resource.UserName </label>
                                <input type="text" placeholder="&#xf2b9;  Enter User Name" class="fa form-control _ge_de_ol" style="font-family: 'FontAwesome';" asp-for="Username" />
                                <span class="text-danger"><span asp-validation-for="Username" style="color: red"></span></span>
                            </div>

                            <div class="field padding-bottom--24">
                                <label for="email">@AdminDashBoard.Languages.Resource.Email</label>
                                <input type="text" placeholder="&#xf0e0;  Enter Email" class="fa form-control _ge_de_ol" style="font-family: 'FontAwesome';" asp-for="Email" />
                                <span class="text-danger"><span asp-validation-for="Email" style="color: red"></span></span>
                            </div>

                             <div class="field padding-bottom--24">
                                <label for="email">@AdminDashBoard.Languages.Resource.EnterPhone</label>
                                <input type="text" placeholder="&#xf2a0;  Enter Phone" class="fa form-control _ge_de_ol" style="font-family: 'FontAwesome';" asp-for="Phone" />
                                <span class="text-danger"><span asp-validation-for="Phone" style="color: red"></span></span>
                            </div>


                            <div class="field padding-bottom--24">
                                <label for="password">@AdminDashBoard.Languages.Resource.Password</label>
                                <input type="password" placeholder="&#xf070;  Enter Password" class="fa font-family: 'FontAwesome' form-control _ge_de_ol" asp-for="Password" />
                                <span class="text-danger"><span asp-validation-for="Password" style="color: red"></span></span>
                            </div>

                            <div class="field padding-bottom--24">
                                <label for="password">@AdminDashBoard.Languages.Resource.ConfirmPassword</label>
                                <input type="password" placeholder="&#xf070;  Enter Confirm Password" class="fa font-family: 'FontAwesome' form-control _ge_de_ol" asp-for="Confirmpass" />
                                <span class="text-danger"><span asp-validation-for="Confirmpass" style="color: red"></span></span>
                            </div>


                            
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="@AdminDashBoard.Languages.Resource.Continue">
                            </div>
                            <div class="field">
                                <a class="ssolink" href="#">@AdminDashBoard.Languages.Resource.AlreadyhaveanaccountLogin</a>
                            </div>
                        </form>






                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

















