@model CreateOrUpdateCategoryDto
@{
    Layout = "_Layout";
      ViewData["Title"] = "Add Category";
}
<style>
    .alertt {
        display: none !important;
    }
    .image-upload {
        position: relative;
        max-width: 360px;
        margin: 0 auto;
        overflow: hidden;
    }

        .image-upload input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 90%;
            opacity: 0;
        }

    .upload-field {
        display: block;
        padding: 12px;
        border-radius: 11px;
    }

        .upload-field .file-thumbnail {
            cursor: pointer;
            border: 1px dashed #BBD9EC;
            border-radius: 11px;
            text-align: center;
            padding: 20px;
        }

            .upload-field .file-thumbnail img {
                width: 50px;
            }

            .upload-field .file-thumbnail h3 {
                font-size: 12px;
                color: #000000;
                font-weight: 600;
                margin-bottom: 4px;
            }

            .upload-field .file-thumbnail p {
                font-size: 12px;
                color: #9ABCD1;
                margin-bottom: 0;
            }
</style>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger fixed-top align-items-center" role="alert" id="customAlert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.FailedTODelete
        </div>
    </div>
}


<div class="card container">
        <div class="card-body">
       
                <h4 class="card-title">@AdminDashBoard.Languages.Resource.AddCategory</h4>

            <form asp-action="Create" asp-controller="Category" method="post" enctype="multipart/form-data" id="createForm" class="form-sample">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group ">
                                    <label asp-for="Name" class="form-label">@AdminDashBoard.Languages.Resource.English_Name</label>
                                    <input asp-for="Name" class="form-control">
                                    <span asp-validation-for="Name" style="color:red"></span>
                                </div>
                            </div>
               

                             <div class="col-md-12">
                                 <div class="form-group ">
                                    <label asp-for="NameAr" class="form-label">@AdminDashBoard.Languages.Resource.Arabic_Name</label>
                                    <input asp-for="NameAr" class="form-control">
                                    <span asp-validation-for="NameAr" style="color:red"></span>
                                  </div>
                             </div>
                        </div>
                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="image-upload ">
                                        <label asp-for="Image" class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
                                        <input asp-for="Image" id="Image" type="file" onchange="fileValue(this)">

                                        <label asp-for="Image" for="Image" class="upload-field">
                                            <div class="file-thumbnail">
                                                <img id="image-preview" src="https://www.btklsby.go.id/images/placeholder/basic.png" alt="">
                                                <h3 id="filename">
                                                    Drag and Drop
                                                </h3>
                                                <p>Supports JPG, PNG, SVG</p>
                                            </div>
                                        </label>
                                        <span asp-validation-for="Image" style="color:red"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   @*  <div class="col-md-6">
                                <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group ">
                                            <label asp-for="Image" class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
                                            <input asp-for="Image" type="file" class="form-control">
                                            <span asp-validation-for="Image" style="color:red"></span>
                                        </div>
                                      </div>  
                                </div>
                     </div> *@

                    <div class="col-md-12">
                        <div class="form-group ">
                            <label asp-for="Description" class="form-label">@AdminDashBoard.Languages.Resource.Description</label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description" style="color:red"></span>
                         </div>
                    </div>

                <button type="submit" class="btn btn-info text-white col-md-12">@AdminDashBoard.Languages.Resource.Create</button>
                 </div>
                </form>
        </div>
        
    </div>



   
   

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-red alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <svg class="bi flex-shrink-0 " width="24" height="15px" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
            <div>
                Failed to Add this Category
                @* @AdminDashBoard.Languages.Resource.FailedTODelete *@
            </div>
        </div>
    }
