@model CreateOrUpdateCategoryDto
@{
  
}


<h1>@AdminDashBoard.Languages.Resource.AddCategory</h1>


<html>

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
   

</head>
<body>



    <form asp-action="Create" asp-controller="Category" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">@AdminDashBoard.Languages.Resource.Name</label>
            <input asp-for="@AdminDashBoard.Languages.Resource.Name" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>

        </div>
        <div class="mb-3">
            <label  class="form-label">@AdminDashBoard.Languages.Resource.Description</label>
            <input asp-for="@AdminDashBoard.Languages.Resource.Description" class="form-control">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>

        <div class="mb-3">
            <label  class="form-label">@AdminDashBoard.Languages.Resource.Image</label>
            <input asp-for="@AdminDashBoard.Languages.Resource.Image" type="file" class="form-control">
            <span asp-validation-for="Image" style="color:red"></span>
        </div>





        <button type="submit" class="btn btn-primary">@AdminDashBoard.Languages.Resource.Create</button>
    </form>

 

</body>


</html>

