@model ResultDataForPagination<GetAllCategoryDto>


@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@* <h1>@Model.count</h1> *@


<style>
    .fifty-chars {
        width: 20ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

   @* <a id="exportButton" class="btn btn-primary" href="#">Export to Excel</a> *@

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
         


            <div class="row">
                <div class="col-8">
                    <h4 class="card-title">@AdminDashBoard.Languages.Resource.AllCategory</h4>
                    <p class="card-description">
                        Table: <span style="color:red">@AdminDashBoard.Languages.Resource.AllCategory</span>
                    </p>
                </div>
                <div class="col-4">
                    <div class="centered-container">
                        <button type="button" onclick="location.href='@Url.Action("Create", "Category")'" class="icon-btn add-btn">
                            <div class="add-icon"></div>
                            <div class="btn-txt">@AdminDashBoard.Languages.Resource.AddCategory</div>
                        </button>
                    </div>
                    
                </div>

            </div>

            <div class="table-responsive pt-3">
            

                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th scope="col"><p class="fifty-chars">@AdminDashBoard.Languages.Resource.Name</p></th>

                            <th scope="col"><p class="fifty-chars">@AdminDashBoard.Languages.Resource.Description</p></th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Entities)
                        {
                            <tr>
                                <td class="p-1">@item.Name</td>
                                <td class="p-1"><p class="fifty-chars">@item.Description</p></td>
                                <td class="p-1"><img src="data:image;base64,@Convert.ToBase64String(item.Image)" width="200px" , height="200px" alt="Category Image" /></td>
                               
                                <td class="p-1">
                                    <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info  btn-sm m-0">
                                        <i class="fa fa-edit"></i>
                                        @AdminDashBoard.Languages.Resource.Update
                                    </a>
                                </td>
                                <td class="p-1">
                                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" onclick="confirmDelete()" style="pointer-events: auto;" class="btn btn-danger disabled btn-sm m-0">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        @AdminDashBoard.Languages.Resource.Delete
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>


            </div>
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("Index", new { pageNumber = Model.CurrentPage - 1, pageSize = Model.PageSize })" class="btn btn-warning">Previous</a>
            }

            @if (Model.TotalPages > 5 && Model.CurrentPage > 3)
            {
                <a href="@Url.Action("Index", new { pageNumber = 1, pageSize = Model.PageSize })" class="btn btn-default">1</a>
                <span>...</span>
            }

            @for (int i = Math.Max(1, (int)Model.CurrentPage - 2); i <= Math.Min((int)Model.TotalPages, (int)Model.CurrentPage + 2); i++)
            {
                <a href="@Url.Action("Index", new { pageNumber = i, pageSize = Model.PageSize })" class="btn @(Model.CurrentPage == i ? "btn-warning active" : "btn-default")">@i</a>
            }

            @if (Model.TotalPages > 5 && Model.CurrentPage < Model.TotalPages - 2)
            {
                <span>...</span>
                <a href="@Url.Action("Index", new { pageNumber = Model.TotalPages, pageSize = Model.PageSize })" class="btn btn-default">@Model.TotalPages</a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a href="@Url.Action("Index", new { pageNumber = Model.CurrentPage + 1, pageSize = Model.PageSize })" class="btn btn-warning">Next</a>
            }
        </div>

        </div>
        </div>
        </div>

       

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
           @TempData["SuccessMessage"]
        </div>
    </div>
}

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage1"]
        </div>
    </div>
}
@if (TempData["SuccessMessage2"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage2"]
        </div>
    </div>
}
@if (TempData["SuccessMessage3"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @TempData["SuccessMessage3"]
        </div>
    </div>
}
<script>
    // function confirmDelete() {
    //     $('#confirmDeleteModal').modal('show');
    // }
    function confirmDelete() {
        var acc = confirm("Other SubCategories and Products may depend on this Category, You may not be able to delete this Category?");
        if (acc == false) {
            event.preventDefault();
        }
    }

    document.getElementById("exportButton").addEventListener("click", function () {
        // Send AJAX request to the server to export the data to Excel
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Category/ExportToExcel", true);
        xhr.responseType = "blob";

        xhr.onload = function () {
            if (xhr.status === 200) {
                // Create a temporary anchor element to download the file
                var a = document.createElement("a");
                var url = window.URL.createObjectURL(xhr.response);
                a.href = url;
                a.download = "Categories.xlsx";
                a.click();

                // Clean up the temporary URL
                window.URL.revokeObjectURL(url);
            }
        };

        xhr.send();
    });


</script>










