@model ResultDataForPagination<GetAllCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@* <h1>@Model.count</h1> *@


<style>
    .fifty-chars {
        width: 50ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <h4 class="card-title">@AdminDashBoard.Languages.Resource.AllCategory</h4>
                    <p class="card-description">
                        length: <span style="color:red">@AdminDashBoard.Languages.Resource.AllCategory</span>
                    </p>
                </div>
                <div class="col-4">
                    <a asp-action="Create" asp-controller="Category" class="btn btn-success p-3">@AdminDashBoard.Languages.Resource.AddCategory</a>
                </div>

            </div>
           
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th scope="col"><p class="fifty-chars">@AdminDashBoard.Languages.Resource.Name</p></th>

                            <th scope="col"><p class="fifty-chars">@AdminDashBoard.Languages.Resource.Description</p></th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
                            <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Entities)
                        {
                            <tr>
                                <td class="p-1">@item.Name</td>
                                <td class="p-1"><p class="fifty-chars">@item.Description</p></td>
                                <td class="p-1"><img src="data:image;base64,@Convert.ToBase64String(item.Image)" width="200px" , height="200px" alt="Category Image" /></td>
                               
                                <td class="p-1">
                                    <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info  btn-sm m-0">@AdminDashBoard.Languages.Resource.Update</a>
                                </td>
                                <td class="p-1">
                                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id" onclick="confirmDelete()" style="pointer-events: auto;" class="btn btn-danger disabled btn-sm m-0">@AdminDashBoard.Languages.Resource.Delete</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>

     
    </div>
</div>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.FailedTODelete
        </div>
    </div>
}

@if (TempData["SuccessMessage1"] != null)
{
    <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 me0" width="24" height="15" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.SuccessMessage
        </div>
    </div>
}
<script>
    // function confirmDelete() {
    //     $('#confirmDeleteModal').modal('show');
    // }
    function confirmDelete() {
        var acc = confirm("Other SubCategories and Products may depend on this Category, You may not be able to delete this Category?");
        if (acc == false) {
            event.preventDefault();
        }
    }

</script>










