@model ResultDataForPagination<GetAllCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@* <h1>@Model.count</h1> *@

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

        <h1>@AdminDashBoard.Languages.Resource.AllCategory</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                    <th scope="col">@AdminDashBoard.Languages.Resource.Name</th>
                    <th scope="col">@AdminDashBoard.Languages.Resource.Description</th>
                    <th scope="col">@AdminDashBoard.Languages.Resource.Image</th>
                    <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
                    <th scope="col">@AdminDashBoard.Languages.Resource.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entities)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td><img src="data:image;base64,@Convert.ToBase64String(item.Image)" width="200px" , height="200px"  alt="Category Image" /></td>
                    <td>
                            <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-primary">@AdminDashBoard.Languages.Resource.Update</a>
                    </td>
                    <td>
                            <a asp-action="Delete" asp-controller="Category"  onclick="confirmDelete()"  style="pointer-events: auto;" class="btn btn-danger disabled">@AdminDashBoard.Languages.Resource.Delete</a>
                    </td>
                </tr>

                

            }
        </tbody>
    </table>
    <br />
        <a class="btn btn-success" asp-action="create">@AdminDashBoard.Languages.Resource.AddCategory</a>
    </div>


    <!-- Modal -->
 @*    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You Can't Delete this Category Because Some SubCategories and Products depend on it.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Close</button>
                </div>
            </div>
        </div>
    </div> *@

     @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible     align-items-center" role="alert" id="customAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <svg class="bi flex-shrink-0 me0" width="24" height="15px" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
            <div>
                @AdminDashBoard.Languages.Resource.FailedTODelete
            </div>
        </div>
    }
    @if (TempData["SuccessMessage1"] != null)
    {
        <div class="alert alert-success alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <svg class="bi flex-shrink-0 me0" width="24" height="15px" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
            <div>
                @AdminDashBoard.Languages.Resource.SuccessMessage
            </div>
        </div>
    }
    <script>
        // function confirmDelete() {
        //     $('#confirmDeleteModal').modal('show');
        // }

        function confirmDelete() {
            var acc = confirm("Other SubCategories and Products may depend on this Category, Are You Sure you want to delete this Category?");
            if (acc == false) {
                event.preventDefault();
            }
        }
      
    </script>

  
















</body>
</html>


